@using CapaNegocio.Contabilidad;
@using CapaEntidad.Contabilidad;
@using System.Globalization;
@model ReportContabilidadViewModel


@{
    Layout = null;
    CompromisoFiscalBL obj = new CompromisoFiscalBL();
    List<CompromisoFiscalDetalleCLS> reporte = obj.GetDetalleCompromisoFiscal(Model.CodigoEmpresa, Model.AnioOperacion, Model.SemanaOperacion);
}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
</head>
<body>
    <h2 style="text-align: center;">REPORTE DE VENTAS FACTURADAS AL CONTADO</h2>
    <h2 style="text-align: left;"></h2>
    <h2 style="text-align: left;"></h2>
    <table style="border: 1px solid black; border-collapse: collapse; margin: 0 auto;">
        <tr style="border-bottom: 1px solid black;">
            <td style="font-size: 20px; margin: auto; border: 1px solid black; width: 325px;"><div style="text-align: center;">Día</div></td>
            <td style="font-size: 20px; margin: auto; border: 1px solid black; width: 100px;"><div style="text-align: center;">Monto</div></td>
        </tr>

        @foreach (var dr in reporte)
        {
        <tr>
            <td style="padding: 4px; font-size: 20px;"><div style="text-align: center;">@dr.DiaOperacion</div></td>
            <td style="padding: 4px; font-size: 20px;"><div style="text-align: right;">@dr.Monto</div></td>
        </tr>
        }

        <tr style="border: 1pt solid black; ">
            <td style="padding: 4px; font-size: 22px;" colspan="3"><div style="text-align: left; font-weight: bold; font-family: Arial, Helvetica, Verdana;">Total general</div></td>
            <td style="padding: 4px; font-size: 22px;" colspan="3"><div style="text-align: left; font-weight: bold; font-family: Arial, Helvetica, Verdana;">Total general</div></td>
        </tr>
    </table>
</body>
</html>