@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using CapaEntidad.Administracion;
@using CapaNegocio.Administracion;
@{
    ViewData["Title"] = "Index";
    string cadena = Context.Session.GetString("usuario");
    UsuarioCLS objUsuario = JsonConvert.DeserializeObject<UsuarioCLS>(cadena);
    string idUsuario = objUsuario.IdUsuario;
    Context.Session.SetString("tituloPrincipal", "Gestión de Roles ");

    SiteMapBL objSiteMap = new SiteMapBL();
    List<SiteMapCLS> listaItems = objSiteMap.GetMenus(idUsuario, 1);
}

<div id="divTabla">

</div>


@section Scripts {
    <script src="~/js/datatable.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jqueryui.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/generic.js"></script>
    <script src="~/js/sitemap.js"></script>
}