@using Microsoft.AspNetCore.Http;
@{
    Context.Session.SetString("tituloPrincipal", "Generación de Reporte Semanal");
}

<div style="height: 50px; width:100%;"></div>

<button type="button" id="ShowPopupSemanaOperacion" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropSemanaOperacion" style="display:none">
</button>

<div id="divTabla">

</div>

<!-- Modal Parametros Reporte -->
<div class="modal fade" id="staticBackdropSemanaOperacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelSemanaOperacion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uiTitlePopupSemanaOperacion"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="uiClosePopupSemanaOperacion">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post" id="frmCambioSemanaOperacion">

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Año:</label>
                        <div class="col-sm-6">
                            <select class="form-control obligatorio" id="uiFiltroAnio" name="AnioOperacion" onchange="fillSemanasReporte()">
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Semana:</label>
                        <div class="col-sm-6">
                            <select class="form-control obligatorio" id="uiFiltroSemanaOperacion" name="SemanaOperacion">
                            </select>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="CambiarSemanaOperacion()">Actualizar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/datatable.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/generic.js"></script>
    <script src="~/js/transaccion.js"></script>
}