@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Create";
    Context.Session.SetString("tituloPrincipal", "Registro de Cuenta por Cobrar (Carga Inicial)");
}

<fieldset>
    <form method="post" id="frmNuevaCuentaPorCobrar" name="frmCuentaPorCobrar">
        @*Codigo categoria entidad*@
        <label class="col-sm-2 col-form-label" style="display:none;">Codigo Categoria Entidad:</label>
        <input type="hidden" name="CodigoCategoriaEntidad" class="form-control obligatorio" id="uiCodigoCategoriaEntidad" />

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tipo Operacion:</label>
            <div class="col-sm-10">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="uiOperacionAnticipoSalario" type="radio" value="62" name="CodigoOperacion" onclick="emptyComboTipoCuentaPorCobrar()">
                    <label class="form-check-label" for="uiOperacionAnticipoSalario">Anticipo de Salarios</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="uiOperacionAnticipoLiquidable" type="radio" value="38" name="CodigoOperacion" onclick="emptyComboTipoCuentaPorCobrar()">
                    <label class="form-check-label" for="uiOperacionAnticipoLiquidable">Anticipo Liquidable</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class='form-check-input' id="uiOperacionPrestamo" type="radio" value="41" name="CodigoOperacion" onclick="fillComboTipoCuentaPorCobrar()">
                    <label class="form-check-label" for="uiOperacionPrestamo">Préstamo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class='form-check-input' id="uiOperacionRetiroDeSocios" type="radio" value="26" name="CodigoOperacion" onclick="emptyComboTipoCuentaPorCobrar()">
                    <label class="form-check-label" for="uiOperacionRetiroDeSocios">Retiro de Socios</label>
                </div>
            </div>
        </div>
        <div id="div-tipo-cuenta-por-cobrar" style="display:none">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Tipo de Préstamo:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="uiTipoCuentaPorCobrar" name="CodigoTipoCuentaPorCobrar">
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Código Entidad:</label>
            <div class="col-sm-10">
                <input type="text" readonly name="CodigoEntidad" class="form-control obligatorio" id="uiCodigoEntidad"
                       placeholder="Código entidad" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Entidad:</label>
            <div class="col-sm-10">
                <input type="text" readonly name="NombreEntidad" class="form-control obligatorio" id="uiNombreEntidad"
                       placeholder="Nombre entidad" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Categoría:</label>
            <div class="col-sm-10">
                <input type="text" readonly name="CategoriaEntidad" class="form-control" id="uiCategoriaEntidad"
                       placeholder="Categoría" />
            </div>
        </div>

        <div id="div-prestamo" style="display:none">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Fecha Préstamo:</label>
                <div class="col-sm-2">
                    <input type="text" name="FechaPrestamo" class="form-control" autocomplete="off" id="uiFechaPrestamo"
                           placeholder="Fecha préstamo" />
                </div>
                <label class="col-sm-2 col-form-label">Fecha Inicio Pago:</label>
                <div class="col-sm-2">
                    <input type="text" name="FechaInicioPago" class="form-control" autocomplete="off" id="uiFechaInicioPago"
                           placeholder="Inicio de pago" />
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Monto:</label>
            <div class="col-sm-2">
                <input type="text" name="Monto" class="form-control obligatorio  decimal-2" id="uiMonto"
                       placeholder="Monto" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Observaciones:</label>
            <div class="col-sm-10">
                <textarea type="text" name="Observaciones" class="form-control" id="uiObservaciones" rows="2"></textarea>
            </div>
        </div>
    </form>
    <div id="divTabla">

    </div>
</fieldset>

<button class="btn btn-secondary" onclick="LimpiarCuentaPorCobrar()">Limpiar</button>
<button class="btn btn-success" onclick="AgregarCuentaPorCobrarCargaInicial()">Guardar</button>

@section Scripts {
    <script src="~/js/datatable.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jqueryui.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/generic.js"></script>
    <script src="~/js/cxc.js"></script>
    <script>
        $(function () {
            $("#uiFechaPrestamo").datepicker({
                dateFormat: 'dd/mm/yy',
                changeYear: true
            });
        });

        $(function () {
            $("#uiFechaInicioPago").datepicker({
                dateFormat: 'dd/mm/yy',
                changeYear: true
            });
        });
    </script>
}