/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: #f1f1f1
    }

        .dropdown-menu > li:hover > .submenu {
            display: block;
        }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}
/* ============ small devices .end// ============ */


#container {
    display: flex; /* establish flex container */
    flex-direction: row; /* default value; can be omitted */
    flex-wrap: nowrap; /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
    /*background-color: lightyellow;*/
}

#container > div {
    width: 200px;
    height: 65px;
   /* border: 2px dashed red;*/
}

#container > div.titulo-principal {
    width: 600px;
    height: 35px;
   /* border: 2px dashed red;*/
}


.input-valor {
    margin: 8px auto;
    width: 95%;
    height: 30px;
    font-size: 16px;
    overflow: hidden;
    text-align: right;
    color: #48484D;
    padding: 4px;
    background-color:#fff;
    box-shadow: inset -1px -1px 4px 1px #eee;
}