@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Index";
    Context.Session.SetString("tituloPrincipal", "Cambio de Contraseña (administrador)");
}

<button type="button" id="ShowPopupUpdatePassword" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropUpdatePassword" style="display:none">
</button>

<div id="divTabla">


</div>


<!-- Modal Entidades -->
<div class="modal fade" id="staticBackdropUpdatePassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelUpdatePassword" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uiTitlePopupUpdatePassword"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="uiClosePopupUpdatePassword">&times;</button>
            </div>
            <div class="modal-body">
                <form id="frmCambioContrasenia">
                    <div class="form-row">
                        <div class="col">
                            <label for="formGroupExampleInput">Usuario</label>
                            <input type="text" class="form-control obligatorio" readonly id="uiIdUsuario" name="IdUsuario">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="password">Nueva Contraseña</label>
                                <input name="Contrasenia" type="password" value="" class="form-control" id="password">
                            </div>
                            <div class="col">
                                <label for="password"></label>
                                <!-- checkbox que nos permite activar o desactivar la opcion -->
                                <div style="margin-top:15px;">
                                    <input style="margin-left:20px;" type="checkbox" id="mostrar_contrasena" title="clic para mostrar contraseña" />
                                    &nbsp;&nbsp;Mostrar Contraseña
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="ActualizarPasswordAdmin()">Actualizar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/datatable.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/generic.js"></script>
    <script src="~/js/usuario.js"></script>
    <script>
        $(document).ready(function () {
            $('#mostrar_contrasena').click(function () {
                if ($('#mostrar_contrasena').is(':checked')) {
                    $('#password').attr('type', 'text');
                } else {
                    $('#password').attr('type', 'password');
                }
            });
        });
    </script>
}

