@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using CapaEntidad.Administracion;
@{
    ViewData["Title"] = "Create";
    string cadena = Context.Session.GetString("usuario");
    UsuarioCLS objUsuario = JsonConvert.DeserializeObject<UsuarioCLS>(cadena);
    string idUsuario = objUsuario.IdUsuario;
    byte setSemanaAnterior = objUsuario.SetSemanaAnterior;
    Context.Session.SetString("tituloPrincipal", "Cambio de contraseña");
    ViewBag.Mensaje = "Actualización Correcta";
}

<form id="frmCambioContrasenia">
    <div class="form-row">
        <div class="col">
            <label for="formGroupExampleInput">Usuario</label>
            <input type="text" class="form-control obligatorio" value="@idUsuario" readonly id="uiIdUsuario" name="IdUsuario">
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <label for="password">Nueva Contraseña</label>
                <input name="Contrasenia" type="password" value="" class="form-control" id="password">
            </div>
            <div class="col">
                <label for="password"></label>
                <!-- checkbox que nos permite activar o desactivar la opcion -->
                <div style="margin-top:15px;">
                    <input style="margin-left:20px;" type="checkbox" id="mostrar_contrasena" title="clic para mostrar contraseña" />
                    &nbsp;&nbsp;Mostrar Contraseña
                </div>
            </div>
        </div>
    </div>
</form>

<button class="btn btn-primary" onclick="ActualizarPassword()">Actualizar</button>


@section Scripts {
    <script src="~/js/datatable.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jqueryui.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/generic.js"></script>
    <script src="~/js/usuario.js"></script>
    <script>
        $(document).ready(function () {
            $('#mostrar_contrasena').click(function () {
                if ($('#mostrar_contrasena').is(':checked')) {
                    $('#password').attr('type', 'text');
                } else {
                    $('#password').attr('type', 'password');
                }
            });
        });
    </script>
}